# Copyright (c) 2020 Ievgenii Meshcheriakov
# SPDX-License-Identifier: Apache-2.0

mainmenu "AIS Receiver Firmware"

config USB_DEVICE_PID
	default USB_PID_CONSOLE_SAMPLE

config SI4362_INIT_PRIORITY
	int "SI4362 init priority"
	default 75
	help
	  Device initialization priority

config APP_SIMULATE
	bool "Simulate the receiver data"

module = SI4362
module-str = si4362
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
